/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    margin: 40px 0;
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #EAEAEA;
    width: 100%;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;

    &-icon {
      width: 10px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__back {
    i {
      font-size: 40px;
      margin-left: -200px;
    }
  }
}
