/* Hero */
.hero {
  background-color: var(--bg-color);
  text-align: center;
  padding: 60px 100px;

  &__title {
    font-size: 50px;
    margin: 10px 0;
  }

  &__description {
    font-size: 40px;
  }
}
