/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 0.5s ease-in-out 1.5s forwards;
}

.loader__circle {
  width: 60px;
  height: 60px;
  border: 4px solid rgba(147, 86, 220, 0.2);
  border-top-color: var(--main-color);
  border-right-color: var(--main-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

body {
  animation: showContent 0s ease-in-out 1.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes showContent {
  from {
    pointer-events: none;
  }
  to {
    pointer-events: auto;
  }
}
