/* Restaurant pages and menu */
.restaurant {
  position: relative;
}

.restaurant__image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.restaurant-menu {
  background-color: var(--bg-color);
  padding: 20px;
  margin-top: -120px;
  border-radius: 100px 100px 0 0;
  position: relative;
  opacity: 0;
  animation: slideUp 500ms ease-out 1.5s forwards;
}

.restaurant-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  padding-left: 20px;
  margin-top: 20px;
}

.restaurant-menu__title {
  font-family: "Shrikhand";
  font-size: 70px;
  font-style: italic;
}

.restaurant-menu__like {
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 10px;
}

.restaurant-menu__heart {
  font-size: 70px;
  position: absolute;
}

.restaurant-menu__heart--active {
  color: transparent;
}

.restaurant-menu__heart--active:hover {
  background:-webkit-linear-gradient(bottom, var(--second-color), var(--main-color));
    background-clip:text;
    -webkit-background-clip:text;
}

.menu__title {
  font-weight: lighter;
  margin-left: 10px;
}

.menu__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: var(--third-color);
  margin-top: 6px;
}

.menu-card {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;
  animation: slideUp 1s ease-out 1.5s forwards;
}

.menu-card__content {
  margin: 25px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.menu-card__name {
  margin: 10px 0;
}

.menu-card__description {
  display: flex;
  justify-content: space-between;
}

.menu-card__text {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-card__price {
  margin: 0;
  font-weight: bold;
}

.menu-card__check {
  width: 0;
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 600ms;
}

.menu-card:hover .menu-card__check {
  width: 250px;
}

.menu-card__check .fa-check {
    color: var(--third-color);
    background-color: white;
    border-radius: 50%;
    font-size: 0px;
    padding: 0px;
    transition: font-size 600ms, padding 600ms;
}

.menu-card:hover .fa-check {
  font-size: 40px;
  padding: 10px;
}

.menu-card:hover .menu-card__check i {
  animation: roll 400ms ease-out forwards;
  animation-delay: 1.5s;
}

.restaurant-menu__button {
  width: 400px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  font-size: 35px;
  transition: filter 0.3s ease;
}

.restaurant-menu__button:hover {
  filter: brightness(1.1);
}
