/* Steps / Fonctionnement */
.steps {
  padding: 60px 40px;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: var(--bg-color);
    width: 95%;
    margin: 30px 0;
    padding: 20px 0;
  }

  &__icon {
    font-size: 40px;
    color: grey;
    margin-left: 60px;
  }

  &__item:hover &__icon{
    color: var(--main-color);
  }

  &__text {
    font-weight: bold;
    margin-left: 80px;
    font-size: 40px;
  }

  &__number {
    font-size: 30px;
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: -20px;
    color: white;
  }
}
