/****** Général ******/

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --third-color: #99e2d0;
  --bg-color: #f3f3f3;
  --footer-color: #353535;
}

.d-none {
  display: none;
}

body {
  margin: 0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 45px;
}

p {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 30px;
  padding: 40px 40px;
  border: 0px;
  border-radius: 60px;
  color: white;
  background: linear-gradient(var(--second-color), var(--main-color));
}

/***** Header *****/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  margin: 40px 0;
}

/***** Main *****/

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  background-color: var(--bg-color);
  width: 100%;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.location i.fa-solid.fa-location-dot.location {
  width: 10px;
}

/***** Rechercher *****/

#Rechercher {
  background-color: var(--bg-color);
  text-align: center;
  padding: 60px 100px;
}

#Rechercher h1 {
  font-size: 50px;
  margin: 10px 0;
}

/***** Fonctionnement *****/

#Fonctionnement {
  padding: 60px 40px;
}

#liste-etape {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.etape-fonctionnement {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  background-color: var(--bg-color);
  gap: 10px;
  width: 95%;
  margin: 30px 0;
  padding: 20px 0;
}

.etape-fonctionnement i {
  font-size: 40px;
  color: grey;
  margin-left: 60px;
}

.etape-fonctionnement p {
  font-weight: bold;
  margin-left: 80px;
}

.numero-etape {
  font-size: 30px;
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 50px;
  margin-left: -20px;
  color: white;
}

/***** Restaurant *****/

#Restaurant {
  padding: 40px 40px;
  background-color: var(--bg-color);
}

#Restaurant .cards {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 60px;
}

#Restaurant img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 10px;
  object-fit: cover;
  height: 500px;
}

#Restaurant .cards-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

#Restaurant .cards-text {
  display: flex;
  flex-direction: column;
}

#Restaurant .cards-text p,
#Restaurant .cards-text h3 {
  margin: 10px 20px;
}

.coeurs {
  position: relative;
  display: inline-block;
  font-size: 60px;
  margin: 30px 120px;
}

.coeur-plein {
  color: rgba(0, 0, 0, 0);
}

.coeur-vide {
  color: black;
}

.coeurs .fa-heart {
  position: absolute;
}

.fa-heart:hover {
  color: var(--main-color);
}

/***** Footer *****/

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--footer-color);
  width: 100%;
  padding: 20px 0;
}

footer img {
  margin: 40px 40px;
  width: 200px;
}

footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 40px;
  height: 60px;
  margin: 0 40px;
}

footer a i {
  font-size: 30px;
  margin: 0;
  width: 15px;
}

/***** Pages menu *****/

.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-menu i {
  font-size: 40px;
  margin-left: -200px;
}

.img-restaurant {
  width: 100%;
  object-fit: cover;
  height: 700px;
}

.menu-restaurant {
  background-color: var(--bg-color);
  padding: 20px;
  margin-top: -120px;
  left: 0;
  right: 0;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  position: relative;

  opacity: 0;
  animation: slideUp 500ms ease-out forwards;
}

.titre-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  align-items: center;
}

.titre-restaurant i {
  font-size: 70px;
  margin: 0 100px;
}

.nom-restaurant {
  font-weight: 900;
  font-style: italic;
  margin: 40px 20px;
  font-family: "Shrikhand";
}

.card-menu {
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;

  opacity: 0;
  animation: slideUp 1s ease-out forwards;
}

.content-menu {
  margin: 25px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.check-menu {
  font-size: 40px;
  align-content: center;
  width: 0px;
  background-color: var(--third-color);
  color: white;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  transition: width 600ms;
}

.card-menu:hover .check-menu i {
  animation: roll 400ms ease-out forwards;
}

.card-menu:hover .check-menu {
  width: 250px;
}

.group-menu h2 {
  font-weight: lighter;
  margin-left: 10px;
}

.group-menu h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: var(--third-color);
  margin-top: 6px;
}

.card-menu h3 {
  margin: 10px 0;
}

.card-menu p {
  margin: 0;
}

.card-menu:hover .description-plat,
h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-overflow: ellipsis;
}

.menu-restaurant button {
  display: flex;
  justify-self: center;
  width: 400px;
  justify-content: center;
  font-size: 35px;
  margin: 60px 0;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.menu-restaurant button:hover {
  filter: brightness(1.1);
}

@keyframes slideUp {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes roll {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(0deg);
  }
}
