/****** Général ******/

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --third-color: #99e2d0;
  --bg-color: #f3f3f3;
  --footer-color: #353535;
}

body {
  margin: 0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 45px;
}

p {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 30px;
  padding: 40px;
  border: 0;
  border-radius: 60px;
  color: white;
  background: linear-gradient(var(--second-color), var(--main-color));
}

/***** HEADER *****/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin: 40px 0;
}

.header__location {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: var(--bg-color);
  width: 100%;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.header__location-icon {
  width: 10px;
}

/***** HERO *****/

.hero {
  background-color: var(--bg-color);
  text-align: center;
  padding: 60px 100px;
}

.hero__title {
  font-size: 50px;
  margin: 10px 0;
}

.hero__description {
  font-size: 40px;
}

/***** FONCTIONNEMENT *****/

.steps {
  padding: 60px 40px;
}

.steps__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__item {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: var(--bg-color);
  width: 95%;
  margin: 30px 0;
  padding: 20px 0;
}

.steps__icon {
  font-size: 40px;
  color: grey;
  margin-left: 60px;
}

.steps__text {
  font-weight: bold;
  margin-left: 80px;
  font-size: 40px;
}

.steps__number {
  font-size: 30px;
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 50px;
  margin-left: -20px;
  color: white;
}

/***** RESTAURANTS (cards accueil) *****/

.restaurants {
  padding: 40px;
  background-color: var(--bg-color);
}

.restaurant-card {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 60px;
  position: relative;
}

.restaurant-card__image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurant-card__badge {
  position: absolute;
  top:25px;
  right: 25px;
  background-color: var(--third-color);
  color: #008766;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 40px;
  border-radius: 4px;
}

.restaurant-card__content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.restaurant-card__text {
  display: flex;
  flex-direction: column;
}

.restaurant-card__name,
.restaurant-card__location {
  margin: 10px 20px;
}

.restaurant-card__like {
  position: relative;
  font-size: 60px;
  margin: 30px 120px;
}

.restaurant-card__heart {
  position: absolute;
  color: black;
}

.restaurant-card__heart--active {
  color: rgba(0, 0, 0, 0);
}

.restaurant-card__like:hover .restaurant-card__heart--active {
  color: var(--main-color);
}

/***** PAGES RESTAURANTS *****/

.header__menu {
  display: flex;
  align-items: center;
}

.header__back i {
  font-size: 40px;
  margin-left: -200px;
}

.restaurant {
  position: relative;
}

.restaurant__image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.restaurant-menu {
  background-color: var(--bg-color);
  padding: 20px;
  margin-top: -120px;
  border-radius: 100px 100px 0 0;
  position: relative;
  opacity: 1;
}

.restaurant-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  padding-left: 20px;
  margin-top: 20px;
}

.restaurant-menu__title {
  font-family: "Shrikhand";
  font-size: 70px;
  font-style: italic;
}

.restaurant-menu__like {
  position: relative;
  width: 50px;
  height: 50px;
  bottom: 10px;
}

.restaurant-menu__heart {
  font-size: 70px;
  position: absolute;
}

.restaurant-menu__heart--active {
  color: transparent;
}
.menu-section__title {
  font-weight: lighter;
  margin-left: 10px;
}

.menu-section__title::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: var(--third-color);
  margin-top: 6px;
}

.menu-card {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  opacity: 1;
}

.menu-card__content {
  margin: 25px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.menu-card__name {
  margin: 10px 0;
}

.menu-card__description {
  display: flex;
  justify-content: space-between;
}

.menu-card__text {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-card__price {
  margin: 0;
  font-weight: bold;
}

.menu-card__check {
  font-size: 40px;
  width: 0;
  background-color: var(--third-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 600ms;
}

.menu-card:hover .menu-card__check {
  width: 250px;
}

.menu-card:hover .menu-card__check i {
  animation: roll 400ms ease-out forwards;
}

.restaurant-menu__button {
  width: 400px;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  font-size: 35px;
  transition: filter 0.3s ease;
}

.restaurant-menu__button:hover {
  filter: brightness(1.1);
}

/***** FOOTER *****/

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--footer-color);
  padding: 20px 0;
}

.footer__logo {
  margin: 40px;
  width: 200px;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 60px;
  margin: 0 40px;
  color: white;
  font-size: 30px;
}

.footer__icon {
  font-size: 30px;
  width: 15px;
}

/***** ANIMATIONS *****/

@keyframes slideUp {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes roll {
  from {
    transform: rotate(120deg);
  }
  to {
    transform: rotate(0deg);
  }
}
